// Color Theme Vars
$color-main: #63A5A7;
$color-light: #E5E9EA;
$color-light-accent: #B6C8C2;
$color-dark: #4B5555;
$color-dark-accent: #527273;
$color-copy: #848484;
$color-white: #ffffff;
$color-black: #000000;



/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
.color-main {
  color: $color-main;
}

.color-light {
  color: $color-light;
}

.color-light-accent {
  color: $color-light-accent;
}

.color-dark {
  color: $color-dark;
}

.color-dark-accent {
  color: $color-dark-accent;
}

.color-copy {
  color: $color-copy;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}